<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projet ATHAR 3D - Visualiseur de modeles 3D</title>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/home.css" rel="stylesheet">
  </head>
  <body>
    <div class="container well">
      <h1 style="text-align: center;">Projet ATHAR 3D - Visualiseur de modeles 3D</h2> <br>
      <form class="form-group text-center" action="/" method="POST">
        <input type="text" name="keyword" id="search" placeholder="arc,colonne,...">
        <input type="submit" name="name" value="Recherche">
      </form>
    </div>

  </body>
  <script src="scripts/home.js"></script>
</html>
