<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projet ATHAR 3D - Visualiseur de modeles 3D</title>
  </head>
  <body onload="init()">
    <h2>Projet ATHAR 3D - Visualiseur de modeles 3D</h2>

    <!-- <p style="color:#A00; font-weight: bold" id="message"></p> -->

    <p><b>utiliser la souris pour faire une rotation et un zoom sur le modele autour de ces axes x y et z.<br></p>

    <div style="float:left">
       <canvas width=600 height=600 id="cnvs" style="background-color:black"></canvas>
       <p>this is where the footer is gonna be.</p>
    </div>

    <div style="float:left; margin-left:2cm">

    <p style="text-indent: -1cm"><b>choisissez un modele:</b><br>
    <input type="radio" name="model" id="r1" onchange="installModel('colonne.json')"> <label for="r1">colonne</label><br>
    <input type="radio" name="model" id="r7" onchange="installModel('ogiveTest.json')"> <label for="r7">ogive</label><br>
    <input type="radio" name="model" id="r6" onchange="installModel('arc.json')"> <label for="r6">arc</label><br>
    </p>
    </div>

  </body>
  <script src="scripts/three.js"></script>
  <script src="scripts/OrbitControls.js"></script>
  <script src="scripts/app.js"></script>
</html>
