<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projet ATHAR 3D - Visualiseur de modeles 3D</title>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="well container text-center col-md-8 col-md-offset-2">
      <h1>Bienvenu sur le site du Projet ATHAR 3D - Visualiseur de modèles 3D</h1>
      <br>
      <p class="well col-md-6 col-md-offset-3">Ceci est un Visualiseur de modèles 3D Conçue spécialement pour le Projet ATHAR 3D pour stocker et visionner les modèles de l'architecture islamique du moyen âge.</p>
      <h3 class="col-md-6 col-md-offset-3">Les modèles consistants de "<%=keyword%>" N'EXISTE PAS ... POUR LE MOMENT!</h3>
    </div>

  </body>
  <script src="scripts/home.js"></script>
</html>
