body {
  font-family: Monospace;
  background-color: #fff;
  color: #f55;
  margin: 0;
  overflow: hidden;
}
#info {
  color: #f5f;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
}
#info a, .button {
  color: #f00;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer
}
